body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background-image:url("../images/home1.png");
  
    background-repeat: no-repeat;
    background-position: center center;
}

.htxt {
    width: 10%;
    display: block;
    background-color: #FA96F2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

button, button::after {
    width: 1300px;
    height: 300px;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, black 5%);
    text-align: center;
    border: 7px black;
    color: #FA96F2;
    letter-spacing: 3px;
    line-height: 115px;
    box-shadow: 6px 0px 0px gray;
    outline: transparent;
    position: relative;
    text-decoration: none;
}

    button::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: 'Fă-ți programarea mult dorită doar cu un click...';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #8652da 3%, #8652da 5%, #503d82 5%);
        text-shadow: -3px -3px 0px #d840cb, 3px 3px 0px #8652da;
        clip-path: var(--slice-0);
    }

    button:hover::after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
    }

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}
